.copy-field-wrapper {
  width: 40%;
}
.copy-field-wrapper .copy-to-clipboard {
  margin-left: 8px;
}

.copy-field-wrapper .clippy_img {
  height: 16px;
  width: 16px;
  cursor: pointer;
  object-fit: contain;
}

.popup {
  position: absolute;
  color: #fff;
  background-color: #353641;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 12px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

.popup.show {
  opacity: 1;
}

.popup-title {
  font-weight: bold;
  color: #fff;
}

a.copy-to-clipboard:hover img {
  filter: grayscale(100%);
}
